@charset "utf-08";

* {
    text-decoration: none;
    margin: 0;
}

:root {
    --primary-color: #1A1F16;
    --secondary-color: #94ECBE;
    --tertiary-color: #4A7856;
    --quaternary-color: #1E3F20;
    --quinary-color: #345830;
}


body {
    background-image: url(https://images.pexels.com/photos/14000470/pexels-photo-14000470.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    margin: 0;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 5px;
    background-color: #1A1F16;
    border-radius: 50px;
    border: #94ECBE 0.3rem ridge;

}

.container input {
    border: dotted 0.2rem var(--tertiary-color);
    border-radius: 12.5px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 25px;
    font-weight: 1000;
    color: #94ECBE;
    background-color: var(--quaternary-color);
}

.container h2 {
    text-decoration: underline;
    font-size: 35px;
    padding: 15px;
    color: var(--secondary-color);
}

.container h3 {
    font-size: 25px;
    padding: 10px;
    color: var(--secondary-color);
}

.container p {
    font-size: 25px;
    padding: 15px;
    color: var(--tertiary-color);
}

.container span {
    font-size: 25px;
    padding: 15px;
    color: var(--secondary-color);
}
.container-button {
    align-items: top;
    display: flex;
    justify-content: center;
}

.container-button button {
    margin-left: 15px;
    height: 65px;
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border-radius: 15px;
    border: var(--secondary-color) 2px solid;
}

.container-button button:hover {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    border: var(--primary-color) 2px solid;
    cursor: pointer;

}

table {
    padding: 12.5px;
    color: var(--tertiary-color);
    font-weight: 1000;
    font-size: 25px;
    border: none;
    justify-content: center;
    display: flex;
}

.footer {
    width: 80%;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    height: 20px;
    position: fixed;
    transform: translateY(45vh);
    background-color: var(--primary-color);

}

.footer p {
    color: var(--secondary-color);
    font-weight: 1000;
}

.footer-sci a {
    color: var(--tertiary-color);
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid .15rem var(--tertiary-color);
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    font-size: 35px;
    position: relative;
    margin-left: 10px;

}

.footer-sci a::before {
    background: var(--tertiary-color);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    transition: 0.5s;
    z-index: -1;
}

.footer-sci a:hover::before {
    width: 100%;
}

.footer-sci a:hover {
    color: var(--primary-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-text span {
    font-family: body;
    font-size: 1.6rem;
    color: white;
}

.footer-text span:hover {
    color: var(--quinary-color);
    cursor: pointer;
}